body{
  width: 100%;
  overflow-x: hidden;
}
#logo{
  position: relative;
  top: -100px;
  float: left;
}
#logo::before{
  position: absolute;
  top: -120px;
  left: -110px;
  content: "";
  border: 100px red solid;
  border-color: transparent rgba(58, 77, 80, 0.3) transparent transparent;
  transform: rotate(45deg);
  z-index: -1;
  box-shadow: 0px 0px 8px 0px lightgray;
}
#logo>img{
  position: absolute;
  left: 10px;
  height: 50px;
  width: 50px;
}
h2{
  color: lightgray;
  text-align: center;
  font-size: 35pt;
  font-family: monospace, sans-serif;
  clear: both;
}
.alert{
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.alert>p{
  padding: 5px 30px;
  color: rgba(255, 97, 0, 1);
  background: rgba(255, 97, 0, 0.2);
  border: 1px rgb(255, 97, 0) solid;
}
.alert2{
  top: 500px;
}
.alert2>p{
  color: rgba(79, 183, 27, 1);
  background: rgba(79, 183, 27, 0.2);
  border: 1px rgb(79, 183, 27) solid;
}
.alert3{
  top: 950px;
}
.alert3>p{
  color: rgba(79, 183, 27, 1);
  background: rgba(79, 183, 27, 0.2);
  border: 1px rgb(79, 183, 27) solid;
}
.alert4{
  top: 1400px;
}
.alert4>p{
color: rgba(79, 183, 27, 1);
background: rgba(79, 183, 27, 0.2);
border: 1px rgb(79, 183, 27) solid;
}
/******************************/
/*        CHART PART          */
/******************************/

/********* CHART 1 ************/
#chart1-container{
  padding: 20px;
}
#chart1{
  width: 95%;
  margin: 120px auto 0px;
}
#chart1 .c3-line-data1 {
  stroke-width: 8px;
  stroke: rgb(0, 128, 255) !important;
}
#chart1 .c3-circle{
  stroke-width: 3.5px;
  r: 3.5px;
  fill: rgb(0, 128, 255);
}
#chart1 .c3-circle._expanded_{
  stroke-width: 5px;
  r: 7px;
  fill: rgb(0, 128, 255);
}
#chart1 .tick line{
  display: none;
}
#chart1 text {
   fill: gray;
}
#chart1 .domain{
  opacity: 0;
}
#chart1 .c3-ygrid-line{
  opacity: 0.4;
}

/********* CHART 2 ************/
#chart2{
  width: 95%;
  margin: 150px auto 0px;
}
#chart2 .c3-circle{
  stroke-width: 4px;
  stroke: white;
  r: 4px;
  fill: rgb(0, 128, 255);
}
#chart2 .c3-line-data1 {
  stroke-width: 8px;
  stroke: rgba(0, 128, 255, 0) !important;
}
#chart2 .c3-areas-data1 path{
  fill: rgba(0, 128, 255, 0.4) !important;
}
#chart2 .c3-xgrid-line{
  opacity: 0.2;
}


/********* CHART 3 ************/
#chart3{
  width: 95%;
  margin: 150px auto 0px;
}
#chart3 .c3-circle{
  stroke-width: 3.5px;
  r: 3.5px;
  fill: rgb(0, 128, 255);
}
#chart3 .c3-line-data1 {
  stroke-width: 8px;
  stroke: rgb(0, 128, 255) !important;
}
#chart3 .c3-areas-data1 path{
  fill: rgba(0, 128, 255, 0.4) !important;
}
#chart3 .c3-xgrid-line{
  opacity: 0.2;
}
#chart3 .c3-circle._expanded_{
  stroke-width: 5px;
  r: 7px;
  fill: rgb(0, 128, 255);
}

/********** MAP ************/

#container{
  position: relative;
  height: 300px;
  width: 500px;
  margin: 120px auto 0px;
}
#container .datamaps-bubble{
  fill: rgb(0, 128, 255) !important;
}
