/******************************
1- chart1
2- chart2
3- chart3
4- map
*****************************/

/********* CHART 1 ************/
#chart1-container{
  padding: 20px;
}
.chart-options{
  margin: 0px 0px 40px 10px;
}
.chart-option{
  padding: 7px 20px;
  color: gray;
  background: white;
  border-radius: 15px;
  font-size: 10pt;
  text-decoration: none;
}
.chart-option-active{
  color: white;
  background: rgba(73, 73, 73, 1);
}
#chart1{
  margin: 0px auto;
}
#chart1 .c3-line-data1 {
  stroke-width: 8px;
  stroke: rgb(0, 128, 255) !important;
}
#chart1 .c3-circle{
  stroke-width: 3.5px;
  r: 3.5px;
  fill: rgb(0, 128, 255);
}
#chart1 .c3-circle._expanded_{
  stroke-width: 5px;
  r: 7px;
  fill: rgb(0, 128, 255);
}
#chart1 .tick line{
  display: none;
}
#chart1 text {
   fill: gray;
}
#chart1 .domain{
  opacity: 0;
}
#chart1 .c3-ygrid-line{
  opacity: 0.4;
}

/********* CHART 2 ************/
#chart2{
  width: 95%;
  margin: 0px auto;
}
#chart2 .c3-circle{
  stroke-width: 4px;
  stroke: white;
  r: 4px;
  fill: rgb(0, 128, 255);
}
#chart2 .c3-line-data1 {
  stroke-width: 8px;
  stroke: rgba(0, 128, 255, 0) !important;
}
#chart2 .c3-areas-data1 path{
  fill: rgba(0, 128, 255, 0.4) !important;
}
#chart2 .c3-xgrid-line{
  opacity: 0.2;
}


/********* CHART 3 ************/
#chart3{
  width: 95%;
  margin: 0px auto;
}
#chart3 .c3-circle{
  stroke-width: 3.5px;
  r: 3.5px;
  fill: rgb(0, 128, 255);
}
#chart3 .c3-circle._expanded_{
  stroke-width: 5px;
  r: 7px;
  fill: rgb(0, 128, 255);
}
#chart3 .c3-line-data1 {
  stroke-width: 8px;
  stroke: rgb(0, 128, 255) !important;
}
#chart3 .c3-areas-data1 path{
  fill: rgba(0, 128, 255, 0.4) !important;
}
#chart3 .c3-xgrid-line{
  opacity: 0.2;
}
.c3-tooltip th{
  padding: 5px 10px;
  color: rgb(0, 87, 199);
  background: rgba(0, 128, 255, 0.4);
}
.c3-tooltip td{
  padding: 5px 0px;
  text-align: center !important;
}
/********** MAP ************/
#container{
  position: relative;
  height: 300px;
  width: 500px;
  margin: 0px auto;
}
#container .datamaps-bubble{
  fill: rgb(0, 128, 255) !important;
}
