*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: rgba(0, 0, 0, 0.7);
}
html, body{
  height: 100%;
}
/************ Drawer **************/
#multi-drawer-container{
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgb(123, 123, 123);
  z-index: 20;
}
#drawers{
  position: absolute;
  right: 0px;
  height: 100vh;
  width: 40vw;
  padding: 20px;
  background: white;
}
.d1{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.drawer-close{
  margin-left: auto;
}
.drawer-close path, .drawer-back path{
  fill: gray;
}
.drawer-back{
  display: none;
  position: absolute;
}
.drawer-title{
  margin-top: 15px;
  font-size: 24pt;
}
.video-name-display{
  height: 30px;
  color: rgba(0,0,0, 0.4);
  font-size: 16pt;
  font-weight: 900;
}
.video-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 30px 0px 0px;
}
.video-details-list-one, .video-details-list-two{
  width: 25%;
  padding: 7px 0px;
  background: rgba(150, 150, 150, 0.1);
  border-radius: 25px;
  text-align: center;
  border-width: 0px;
  text-align-last:center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.video-details-list-two{
  margin: 0px 5px 0px;
}
.video-details-list-item{
  text-align: right;
}
.video-details-list-item{
  color: gray;
  font-size: 9pt;
}
.video-details-video-name{
  width: 45%;
}
.video-details-list-input{
  width: 95%;
  padding: 7px 0px 7px 20px;
  background: rgba(150, 150, 150, 0.1);
  border-radius: 25px;
  border-width: 0px;
}
.video-details-video-name>svg{
  position: absolute;
  background: white;
  border-radius: 50%;
  transform: translateX(-30px) translateY(3px);
}
.video-details-subtities-container{
  display: none;
  width: 90%;
}
.video-details-subtities{
  min-width: 25%;
  padding: 7px 15px;
  background: rgba(150, 150, 150, 0.1);
  border-radius: 25px;
  text-align: center;
  border-width: 0px;
  font-size: 9pt;
  cursor: pointer;
}
.video-details-subtities-active{
  background: rgba(0, 130, 255, 0.9);
}
.upload-video, .upload-video-wrapper-container{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.upload-video-svg path{
  fill: gray;
}
.file-wrapper{
  position:relative;
  margin-top: 20px;
  font-size:12px;
}
.file-wrapper>label{
  text-decoration: underline;
  cursor: pointer;
}
input[type="file"]{
  opacity: 0;
  position: absolute;
  z-index: -1;
}
#choosedFileName{
  position: absolute;
  padding: 5px 0px;
  color: rgba(0, 180, 255, 1);
  text-align: center;
}

.drawer-next{
  display: flex;
  margin-left: auto;
  margin-top: auto;
}
.drawer-next>p{
  padding: 10px;
  color: rgba(0, 180, 255, 1);
}
.drawer-next>svg{
  transform: scale(1);
}
.drawer-next>svg path{
  transform: scale(0.9);
}

/* progress */
#upload-video-percentage{
    display: none;
}
#upload-progress{
  position: relative;
  height: 150px;
  width: 150px;
  margin-top: 100px;
  transform: rotate(135deg) scale(1.3);
}

#upload-progress circle{
  height: 100%;
  width: 100%;
  fill: none;
  stroke-width: 9px;
  stroke-linecap: round;
  transform: translateX(5px) translateY(5px);
}
#upload-progress circle:nth-child(1){
  stroke: rgba(50, 50, 50, 0.1);
  stroke-dasharray: 480;
  stroke-dashoffset: 150;
}
#upload-progress circle:nth-child(1){

}
#upload-progress circle:nth-child(2){
  stroke: rgba(0, 110, 255, 0.8);
  stroke-dasharray: 480;
  stroke-dashoffset: 480;
}
#upload-progress circle:nth-child(3){
  stroke: white;
  stroke-dasharray: 445;
  stroke-dashoffset: 444;
  transform-origin: center;
  transform: rotate(270deg) translateX(5px) translateY(5px);
}
#upload-video-percentage{
  display: block;
}
#percentage-text, #text-percentage{
  position: relative;
  top: -110px;
  right: -45px;
  color: rgba(0, 110, 255, 0.9);
  font-size: 24pt;
  font-weight: 900;
}
#text-percentage{
  top: 0px;
  right: 0px;
}


/************ navbar **************/
.navbar{
  position: fixed;
  width: 100%;
}
.navbar, .right-part{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0px 40px;
  background: rgba(0, 128, 255, 1);
}
#logo{
  color: white;
  font-size: 20pt;
  font-weight: 900;
}
.right-part{
  width: 250px;
  padding: 0px;
  background: rgba(0, 128, 255, 0);
}
.settings-icon{
  width: 20px;
}
.notifications-icon{
  width: 15px;
  margin: 0px 10px;
}
.right-part-user{
  display: flex;
  align-items: center;
}
.right-part-user-picture{
  height: 40px;
  width: 40px;
  margin: 0px 5px;
  border-radius: 50%;
}
.right-part-user-name{
  color: white;
  font-size: 9pt;
}


.body-container{
  display: flex;
  height: 100%;
  width: 100%;
}

/************ Left Aside ***********/
.left-side-bar{
  height: 100%;
  width: 250px;
  padding: 80px 0px 0px;
  border-radius: 10px;
  border: 1px rgba(20, 20, 20, 0.1) solid;
  box-shadow: 0px 0px 20px -2px lightgray;
  text-align: center;
}
.l-aside-upload-btn{
  padding: 10px 30px;
  color: gray;
  border-radius: 50px;
  border: 1px rgba(20, 20, 20, 0.1) solid;
  box-shadow: 0px 3px 8px -2px lightgray;
  font-size: 10pt;
  text-decoration: none;
}
.l-aside-upload-svg{
  transform: translateX(-6px) translateY(5px);
}
.l-aside-upload-svg path{
  stroke-width: 0.3px;
  stroke: gray;
  fill: gray;
}
.l-aside-list{
  display: flex;
  flex-direction: column;
  margin: 20px 0px 0px;
}
.l-aside-item{
  padding: 10px 0px 10px 50px;
  margin: 5px 0px;
  color: gray;
  border-left: 4px transparent solid;
  text-align: left;
  text-decoration: none;
  font-size: 10pt;
}
.l-aside-item-active{
  color: rgba(0, 128, 255, 1);
  background: rgba(0, 151, 252, 0.2);
  border-left: 4px rgba(0, 128, 255, 1) solid;
}
.l-aside-item-svg{
  margin: 0px 5px 0px -20px;
  transform: translateX(-6px) translateY(4px) scale(1.3);
}
.l-aside-item-svg path{
  stroke-width: 0.5px;
  stroke: gray;
  fill: gray;
  transform: translateX(1.5px) translateY(1px) scale(0.8);
}
.l-aside-item-svg-active path{
  stroke-width: 0.5px;
  stroke: rgba(0, 128, 255, 1);
  fill: rgba(0, 128, 255, 1);
}



.body-parts{
  height: 100%;
  width: 90%;
  padding: 70px 20px 0px;
}
.body-main-conatiner{
  display: flex;
}
.upload-part, .stats-part{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 70%;
  margin: 5px 0px;
}
/************ Upload Body ***********/
.upload-part-body{
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 100%;
  padding: 15px 30px;
  margin: 0px 0px 30px;
  border-radius: 10px;
  border: 1px rgba(20, 20, 20, 0.1) solid;
  box-shadow: 0px 0px 20px -9px lightgray;
}
.upload-part-body-title{
  font-size: 10pt;
  font-weight: 900;
}
.upload-part-body-title-svg{
  fill: rgb(0, 185, 252);
  transform: translateX(-6px) translateY(4px);
}
.upload-part-body-title-svg path{
  transform: translateY(-1px);
}
.upload-part-body-svg-image{
  height: 100px;
  width: 100px;
  margin: 20px auto 15px;
  transform: scale(1.6);
  fill: rgb(0, 185, 252);
}
.upload-part-body-svg-image path{
  transform: scale(0.95);
}
.upload-part-body-text{
  text-align: center;
  font-size: 10pt;
  font-weight: 600;
}
.upload-part-body-btn{
  width: 220px;
  padding: 10px 0px;
  margin: 20px auto 0px;
  color: white;
  background: rgba(0, 151, 252, 1);
  border-radius: 50px;
  border-width: 0px;
  box-shadow: 0px 3px 8px -2px lightgray;
  font-size: 10pt;
  font-weight: 900;
}
.upload-part-body-btn-svg{
  transform: translateX(-6px) translateY(4px);
}
.upload-part-body-btn-svg path{
  fill: white;
}



.stats-part-statistics-visitors-container{
  display: flex;
  justify-content: space-between;
}
/************ statistics ***********/
.stats-part-statistics{
  width: 73%;
  border-radius: 10px;
  border: 1px rgba(20, 20, 20, 0.1) solid;
  box-shadow: 0px 0px 20px -9px lightgray;
}
.stats-part-statistics-header, .aside-stats-header{
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
.stats-part-statistics-header-text{
  font-size: 10pt;
}
.stats-part-statistics-header-svg{
  fill: rgb(0, 185, 252);
}
.stats-part-statistics-header-svg-two{
  margin: 5px 0px 0px;
  fill: rgba(0, 0, 0, 0.3);
}
.statistics-details-parts-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94%;
  padding: 10px 0px;
  margin: 0px auto;
  border-top: 1px rgba(0, 0, 0, 0.1) solid;
}
.statistics-details-part{
  display: flex;
  padding: 3px 35px 3px 10px;
  margin: 15px 0px;
  background: rgba(0, 185, 252, 0.1);
  border-radius: 10px;
}
.statistics-details-part-svg{
  fill: #0080FE;
  margin: 10px 10px 0px 0px;
}
.statistics-details-count, .visitors-details-count{
  width: 60px;
  font-size: 16pt;
  font-weight: 900;
  text-align: center;
}
.statistics-details-desc, .visitors-details-desc{
  color: gray;
  font-size: 6pt;
}
.stats-part-visitors{
  height: 150px;
  width: 26%;
  border-radius: 10px;
  border: 1px rgba(20, 20, 20, 0.1) solid;
  box-shadow: 0px 0px 20px -9px lightgray;
}

 .stats-part{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 35%;
 }
 .visitors-details-text{
   margin-bottom: 3px;
   padding-bottom: 10px;
   border-bottom: 1px rgba(20, 20, 20, 0.1) solid;
 }
 .stats-part-visitors{
   padding: 10px;
 }
.visitors-details-count{
  text-align: left;
}
.visitors-details-desc{
  font-size: 6pt;
}
.stats-part-visitors-users-country{
  display: flex;
  justify-content: space-between;
  padding: 5px 0px 4px;
  border-bottom: 1px rgba(20, 20, 20, 0.1) solid;
}
.stats-part-visitors-users-country>p{
  font-size: 8pt;
  font-weight: 600;
}
.stats-part-visitors-users-country p+p{
  padding: 5px 0px 0px;
  color: lightgray;
  font-size: 6pt;
}
.stats-part-visitors-view{
  padding: 5px 0px;
  color: rgba(0, 145, 252, 1);
  font-size: 7pt;
  text-align: center;
}

.upload-part-aside{
  height: 300px;
  width: 73%;
  margin: 0px 0px 30px;
  border-radius: 10px;
  border: 1px rgba(20, 20, 20, 0.1) solid;
  box-shadow: 0px 0px 20px -9px lightgray;
}
.aside-stats-header{

}
.aside-stats-header>p{
  padding-left: 5px;
  font-size: 9pt;
  font-weight: 600;
}
.aside-stats-header p+p{
  padding: 5px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 8pt;
}
.aside-stats-header-text-svg{
  margin-right: 5px;
}

.stats-part-court{
  height: 150px;
  width: 73%;
  border-radius: 10px;
  border: 1px rgba(20, 20, 20, 0.1) solid;
  box-shadow: 0px 0px 20px -9px lightgray;
}
